.badge {
    background-color: $primary-red;
    color: $primary-white;

    border-radius: 4px;
    padding: 4px;

    &.badge-white {
        background-color: $primary-white;
        color: $primary-gray;
    }
}
