.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 24px 6px 24px;
    border-radius: 3px;
    transition: all ease .5s;

    i {
        margin-right: 4px;
    }

    input + & {
        border-radius: 0px 3px 3px 0px;
    }

    &:focus {
        outline: 0;
    }

    &.btn-yellow {
        color: $primary-gray;
        background-color: $primary-yellow;
        &:hover {
            background-color: darken($primary-yellow, 8);
            cursor: pointer;
        }
    }

    &.btn-red {
        color: $primary-white;
        background-color: $primary-red;
        &:hover {
            background-color: darken($primary-red, 8);
            cursor: pointer;
        }
    }
}
