input {
    background-color: darken($primary-white, 10%);
    border: none;
    color: $background-purple;
    padding: 8px;
    font-size: 18px;
    transition: all ease .5s;

    &:focus {
        outline: none;
        border-color: $primary-yellow;
    }
}

.input-button-container {
    display: flex;
    height: 100%;
    width: 100%;

    input {
        border-radius: 3px 0 0 3px;
        flex-grow: 2.75;
    }

    span {
        flex-grow: 1;
    }
}
