@import "./styles/variables";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya', serif;
}

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;

    background-color: $primary-white;

    min-height: 100vh;

    display: flex;
}

.clickable {
    &:hover { cursor: pointer; }
}

app-root {
    display: flex;
    width: 100%;
}

.site-container {
    display: flex;
    width: 100%;

    flex-direction: column;
}

.black-background {
    background-color: $primary-black;
    color: $primary-white;
}

.deemphasized {
    color: $primary-gray;
}

.flexed {
    display: flex;
}

.flex-horizontal-centered {
    justify-content: center;
}

.content-container {
    width: 50%;
}

.table {
    width: 100%;
}
